<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Edit a Blog Post</h1>
    <h3>Post title: <%=@post.name%></h3>
    <h3>Content: <%=@post.content%></h3>
    <form method="post" action="/posts/<%=@post.id%>">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <p>Post Title: <input type="text" name="name"></p>
      <p>Content: <input type="text" name="content"></p>
      <input type="submit" value="submit" id="submit">
    </form>
  </body>
</html>
